/* Style Sheet for Quest Log */

* {
    font-family: "cinzel-decorative-regular", sans-serif; 
}

.center_element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash_error {
    color: red;
}

.flash_success {
    color: green;
}

form {
    flex-direction: column;
    gap: 1rem;
}

h1 {
    text-align: center;
}

.login_page_divs {
    width: 18rem;
    height: 30rem;
}











/* MARGINS */

.tiny_margin_bottom {
    margin-bottom: -1rem;
}

.small_margin {
    margin: 10px;
}
