{% extends "layout.html" %}

{% block title %} Home {% endblock %}


{% block main %}

    <table class="table table-bordered table-primary table-striped-columns">
        <tr>
            <th colspan="7">Calendar</th>
        </tr>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

{% endblock %}