{% extends "layout.html" %}

{% block title %} Register {% endblock %}


{% block main %}

    <div class="center_element">
        <h1>Welcome new user</h1>
        <form action="/register" method="post">
            <input name="username" type="text" required placeholder="username" maxlength="26" autocomplete="off">
            <input name="password" type="password" required placeholder="password" maxlength="64" autocomplet="off">
            <input name="confirmation" type="password" required placeholder="confirm password" maxlength="64" autocomplete="off">
        </form>
    </div>

{% endblock %}